[submodule "bibliography"]
	path = bibliography
	url = git@github.com:molguin92/MolguinBibliography.git
[submodule "publications/2023EdgeDroid2"]
	path = publications/2023EdgeDroid2
	url = git@github.com:molguin92/EdgeDroid2Paper.git
